.count{
    display: flex;
    justify-content: space-between;
}

.li{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.454);
    color: white;
}

i{
    color: red!important;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0%;
}

i:hover{
    opacity: 100%;
}
input, button , .li{
    border-radius: 10px;
}

button, input {
    color: white;
    background-color: rgba(0, 0, 0, 0.928);
}